.App {
      background-image: url("../images/background.png");
      background-repeat: no-repeat, repeat;
      background-position: top; /* Center the image */
      background-size: cover; /* Resize the background image to cover the entire container */
      background-color: #cccccc;
      height: 100vh; /* You must set a specified height */

  }
  